body {
    background: linear-gradient(135deg, #931d1d, #861661, #e1dc42);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
    letter-spacing: 1px;
}

.nav-link {
    color: #ffffff !important;
    margin-left: 10px;
}

.nav-link.active {
    text-decoration: underline;
}

.card {
    border: none;
    border-radius: 10px;
}

.card img {
    height: 350px;
    object-fit: cover;
}


.section-title {
    margin: 60px 0 40px 0;
    text-align: center;
    font-weight: 700;
}


