        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar {
            background-color: #2c2c2c; 
        }

        .navbar-brand {
            font-weight: bold;
            color: #ffffff !important;
            letter-spacing: 1px;
        }

        .nav-link {
            color: #ffffff !important;
            margin-left: 10px;
        }

        .nav-link:hover {
            text-decoration: underline;
        }
        
        .bodytext {
            margin: 0;
            padding-top: 80px;
            padding-left: 20px;
        }
        .bodytext2 {
            margin-top: -0.2em;
            padding-top: 20px;
            padding-left: 20px;
        }

        .hero h1 {
            font-weight: 700;
            max-width: 700px;
            color: #ffffff;
        }

        .hero p {
            max-width: 550px;
            font-size: 1.1rem;
            color: #ffffff;
        }

        .bgimg {
            width: 100%;
            height: 100vh;
            background-image: url("https://cdn.discordapp.com/attachments/1443614739123933314/1472236549528748198/IMG_20240819_194157.jpg?ex=6991d6a2&is=69908522&hm=0afbca3a40856a44ee1da46724063314dee4e29c697cf084586fb5cb0d18a9d5");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .formbuttonspacing{
            padding-top: 250px;
            padding-left: 20px;
        }
        
        .openformbutton{
            font-family: sans-serif;
            padding-top: 5px;
            padding-left: 15px 15px;
            background-color: #740000;       
            color: #fff;                             
            border: none;                 
            border-radius: 6px;           
            font-size: 16px;              
            cursor: pointer;              
            transition: background-color 0.3s ease;
            display: inline-block;        
            text-align: center;
            user-select: none;           
        }

        .formlayoutdes{
            display:none; 
            position:fixed; top:20%; left:50%; 
            transform:translateX(-50%);
            background:#fff;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left:20px;
            padding-right: 20px; 
            border:1px solid #ccc;
            box-shadow:0 0 10px rgba(0,0,0,0.3);
        }